@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1638350862104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
  content: "\e787";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-filedone:before {
  content: "\e7b4";
}

